<?xml version="1.0" ?>
<settings version="1">
	<section id="service.kodi_playlist_resumer">
		<category help="" id="resumer" label="32000">
			<group id="1">
				<setting help="" id="resumeonstartup" label="32002" type="boolean">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="resumeifstopped" label="32006" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="resumeonstartup">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="resumeonstartup">true</condition>
						</dependency>
					</dependencies>
				</setting>				
				<setting help="" id="saveintervalsecs" label="32001" type="integer">
					<level>0</level>
					<default>10</default>
					<constraints>
						<minimum>5</minimum>
						<maximum>600</maximum>
					</constraints>
					<control format="integer" type="slider">
						<popup>false</popup>
					</control>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="resumeonstartup">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="resumeonstartup">true</condition>
						</dependency>
					</dependencies>					
				</setting>
               <setting help="" id="playbackdelay" label="32004" type="integer">
                    <level>0</level>
                    <default>7</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>60</maximum>
                    </constraints>
					<control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="resumeonstartup">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="resumeonstartup">true</condition>
						</dependency>
					</dependencies>					
                </setting>	
               <setting help="" id="resumeoffset" label="32005" type="integer">
                    <level>0</level>
                    <default>5</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>60</maximum>
                    </constraints>
					<control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="resumeonstartup">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="resumeonstartup">true</condition>
						</dependency>
					</dependencies>					
                </setting>	
               <setting help="" id="idledelay" label="32007" type="integer">
                    <level>0</level>
                    <default>60</default>
                    <constraints>
                        <minimum>5</minimum>
                        <step>1</step>
                        <maximum>300</maximum>
                    </constraints>
					<control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
					<dependencies>
						<dependency type="enable">
							<or>
								<condition operator="is" setting="autoplayrandom">true</condition>
								<condition operator="is" setting="resumeonstartup">true</condition>
							</or>						
						</dependency>
						<dependency type="visible">
							<or>
								<condition operator="is" setting="autoplayrandom">true</condition>
								<condition operator="is" setting="resumeonstartup">true</condition>
							</or>	
						</dependency>
					</dependencies>					
                </setting>					
				<setting help="" id="autoplayrandom" label="32003" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>	
				<setting help="" id="randommovies" label="32008" type="boolean">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="autoplayrandom">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="autoplayrandom">true</condition>
						</dependency>
					</dependencies>
				</setting>		
				<setting help="" id="randomtv" label="32009" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="autoplayrandom">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="autoplayrandom">true</condition>
						</dependency>
					</dependencies>
				</setting>		
				<setting help="" id="randommusicvideos" label="32010" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="autoplayrandom">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="autoplayrandom">true</condition>
						</dependency>
					</dependencies>
				</setting>						
			</group>
		</category>		
		<category help="" id="ContextMenuItem" label="32035">			
			<group id="1">				
				<setting help="" id="AddContextMenuItem" label="32036" type="boolean">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>								
		</category>
		
		<category help="" id="exclude" label="32030">
			<group id="1" label="32000">
				<setting help="" id="ExcludeLiveTV" label="32031" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="ExcludeHTTP" label="32032" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="ExcludePathOption" label="32033" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="ExcludePath" label="32034" type="path">
					<level>0</level>
					<default/>
					<constraints>
						<sources>
							<source>video</source>
						</sources>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="ExcludePathOption">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="ExcludePathOption">true</condition>
						</dependency>
					</dependencies>
					<control format="path" type="button">
						<heading>32034</heading>
					</control>
				</setting>
				<setting help="" id="ExcludePathOption2" label="32033" type="boolean">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="ExcludePathOption">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="ExcludePathOption">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting help="" id="ExcludePath2" label="32034" type="path">
					<level>0</level>
					<default/>
					<constraints>
						<sources>
							<source>video</source>
						</sources>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="ExcludePathOption2">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="ExcludePathOption2">true</condition>
						</dependency>
					</dependencies>
					<control format="path" type="button">
						<heading>32034</heading>
					</control>
				</setting>
				<setting help="" id="ExcludePathOption3" label="32033" type="boolean">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="ExcludePathOption2">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="ExcludePathOption2">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting help="" id="ExcludePath3" label="32034" type="path">
					<level>0</level>
					<default/>
					<constraints>
						<sources>
							<source>video</source>
						</sources>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="ExcludePathOption3">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="ExcludePathOption3">true</condition>
						</dependency>
					</dependencies>
					<control format="path" type="button">
						<heading>32034</heading>
					</control>
				</setting>
			</group>
			<group id="2" label="32100">
				<setting help="" id="IgnoreSmartPlaylistItems" label="32037" type="boolean">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>			
			</group>
		</category>
	</section>
</settings>
